.btn-white, .btn-pink, .btn-pink-grey-border {
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 30px;
  margin: 60px auto;
  cursor: pointer;
  transition: color 1s, background-color 2s; }

.btn-white {
  background-color: white;
  color: #000;
  width: auto;
  margin: 0;
  padding: 6px 40px;
  box-shadow: 5px 5px 10px rgba(128, 141, 153, 0.3); }
  .btn-white:hover {
    background-color: #00252e;
    color: #fff; }

.btn-pink {
  width: 80%;
  padding: 20px 0;
  background-color: #ff52bf;
  color: #fff;
  box-shadow: 5px 5px 10px rgba(255, 82, 191, 0.3); }
  .btn-pink:hover {
    background-color: white;
    color: #000; }

.btn-pink-grey-border {
  width: 80%;
  padding: 20px 0;
  background-color: #ff52bf;
  color: #fff;
  box-shadow: 5px 5px 10px rgba(128, 141, 153, 0.3); }
  .btn-pink-grey-border:hover {
    background-color: white;
    color: #000; }

@media (min-width: 700px) {
  .btn-pink {
    width: 40%;
    margin-left: 0; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center; }

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

/* ==================
    Hero
===================== */
.hero {
  background-image: url("../images/bg-hero-mobile.svg");
  background-color: #ebfbff;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 20px;
  line-height: 1.6; }
  .hero header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0; }
  .hero h1 {
    font-size: 2.4rem;
    width: 80%;
    margin: 120px auto 30px auto; }
  .hero .logo {
    width: 190px;
    height: calc(39px * 190 / 240); }
  .hero .illustration {
    width: 90%; }

/* ==================
    Cards
===================== */
.cards {
  position: relative;
  padding-bottom: 250px;
  padding-top: 50px; }
  .cards .card {
    margin: 50px 40px 50px 40px;
    box-shadow: 0 0 10px rgba(128, 141, 153, 0.3);
    border-radius: 20px;
    padding: 40px;
    letter-spacing: 1px;
    line-height: 1.6; }
    .cards .card img {
      width: 100%;
      margin: 80px auto; }
    .cards .card p {
      color: #808d99;
      width: 100%;
      margin: 40px auto; }
  .cards .feature-block {
    font-size: 0.9rem;
    height: 240px;
    width: 94%;
    position: absolute;
    left: 3%;
    bottom: -80px;
    box-shadow: 0 0 10px rgba(128, 141, 153, 0.3);
    border-radius: 20px;
    padding: 40px;
    background-color: white;
    z-index: 1; }

/* ==================
    Footer
===================== */
footer {
  text-align: left;
  color: white;
  background-color: #00252e;
  padding: 200px 30px 70px 30px;
  line-height: 1.6; }
  footer .logo-white {
    width: 16rem;
    filter: brightness(0%) invert(1);
    margin-bottom: 30px; }
  footer .contact {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-row-gap: 20px; }
  footer .logo-small {
    margin-top: 6px; }
  footer .about {
    margin-top: 80px; }
  footer .footer-link {
    display: block;
    text-decoration: none;
    color: white;
    transition: color 1s;
    margin-top: 1.6rem; }
    footer .footer-link:hover, footer .footer-link:focus {
      color: #808d99; }
  footer .social {
    margin: 4rem auto 0 auto;
    text-align: center; }
  footer i {
    border: 1px solid white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding-top: 0.5rem;
    margin: 5px;
    color: white;
    font-size: 1rem;
    transition: color 1s, border-color 1s; }
    footer i:hover, footer i:focus {
      color: #808d99;
      border-color: #808d99;
      cursor: pointer; }
  footer .copyright {
    font-size: 0.8rem;
    margin: 2rem auto 0 auto;
    text-align: center; }

@media (min-width: 700px) {
  body {
    text-align: left; }
  .hero {
    background-image: url("../images/bg-hero-desktop.svg");
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-template-areas: "header header" "title image" "text image" "button image";
    padding: 30px 40px;
    line-height: 1.6; }
    .hero header {
      grid-area: header; }
    .hero h1 {
      grid-area: title;
      width: 100%;
      margin: 120px 0 30px 0; }
    .hero .hero-text {
      grid-area: text; }
    .hero .btn-pink {
      grid-area: button;
      text-align: center; }
    .hero .illustration {
      grid-area: image;
      margin-top: 30px; } }
