/* ==================
    Hero
===================== */
.hero {
  background-image: url("../images/bg-hero-mobile.svg");
  background-color: var(--very-pale-cyan);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 20px;
  line-height: 1.6; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  border: solid 1px red; }

.logo {
  width: 180px;
  height: calc(39px * 180 / 240);
  /* margin-top: 20px; */
  border: 1px solid green; }

.mockups {
  width: 90%; }
