@media (min-width: 700px){
  body {
    text-align: left;
  }

  .hero {
    background-image: url("../images/bg-hero-desktop.svg");
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-template-areas: 
      "header header"
      "title image"
      "text image"
      "button image";
    padding: 30px 40px;
    line-height: 1.6;

    header {
      grid-area: header;
    }
  
    h1 {
      grid-area: title;
      width: 100%;
      margin: 120px 0 30px 0;
    }
  
    .hero-text {
      grid-area: text;
    }
  
    .btn-pink {
      grid-area: button;
      text-align: center;
    }
  
    .illustration {
      grid-area: image;
      margin-top: 30px;
    }
  }

  .cards {
    .card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 80px;

      &:nth-child(even) {
        grid-template-areas: 
        "image heading"
        "image text";
      }

      &:nth-child(odd) {
        grid-template-areas: 
          "heading image"
          "text image";
      }

      .illustration {
        display: block;
        grid-area: image;
        width: 80%;
      }
  
      h2 {
        align-self: end;
        grid-area: heading;
      }
  
      p {
        grid-area: text;
        margin-top: 0;
      }
    }

    .feature-block {
      text-align: center;
      max-width: 600px;
      padding: 40px 100px;
      left: calc((100% - 600px) / 2);
    }
  }
}