@import 'variables';
@import 'buttons';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

h1,
h2 {
  font-family: $heading-font;
  font-weight: 600;
}


/* ==================
    Hero
===================== */
.hero {
  background-image: url("../images/bg-hero-mobile.svg");
  background-color: $very-pale-cyan;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 20px;
  line-height: 1.6;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0;
  }

  h1 {
    font-size: 2.4rem;
    width: 80%;
    margin: 120px auto 30px auto;
  }
  
  .logo {
    width: 190px;
    height: calc(39px * 190 / 240);
  }
  
  .illustration {
    width: 90%;
  }

}

/* ==================
    Cards
===================== */
.cards {
  position: relative;
  padding-bottom: 250px;
  padding-top: 50px;

  .card {
    margin: 50px 40px 50px 40px;
    box-shadow: 0 0 10px $grayish-blue-transparant;
    border-radius: 20px;
    padding: 40px;
    letter-spacing: 1px;
    line-height: 1.6;
    
    img {
      width: 100%;
      margin: 80px auto;
    }

    p {
      color: $grayish-blue;
      width: 100%;
      margin: 40px auto;
    }
  }
  .feature-block {
    font-size: 0.9rem;
    height: 240px;
    width: 94%;
    position: absolute;
    left: 3%;
    bottom: -80px;
    box-shadow: 0 0 10px $grayish-blue-transparant;
    border-radius: 20px;
    padding: 40px;
    background-color: white;
    z-index: 1;
  }
}

/* ==================
    Footer
===================== */
footer {
  text-align: left;
  color: white;
  background-color: $very-dark-cyan;
  padding: 200px 30px 70px 30px;
  line-height: 1.6;

  .logo-white {
    width: 16rem;
    filter: brightness(0%) invert(1); 
    margin-bottom: 30px;
  }

  .contact {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-row-gap: 20px;
  }

  .logo-small {
    margin-top: 6px;
  }

  .about {
    margin-top: 80px;
  }

  .footer-link {
    display: block;
    text-decoration: none;
    color: white;
    transition: color 1s;
    margin-top: 1.6rem;

    &:hover,
    &:focus {
      color: $grayish-blue;
    }
  }

  .social {
    margin: 4rem auto 0 auto;
    text-align: center;
  }

  i {
    border: 1px solid white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding-top: 0.5rem;
    margin: 5px;
    color: white;
    font-size: 1rem;
    transition: color 1s, border-color 1s;

    &:hover,
    &:focus {
      color: $grayish-blue;
      border-color: $grayish-blue;
      cursor: pointer;
    }
  }

  .copyright {
    font-size: 0.8rem;
    margin: 2rem auto 0 auto;
    text-align: center;
  }
}

@import 'large';