@import 'variables';
@import 'buttons';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

h1,
h2 {
  font-family: $heading-font;
  font-weight: 600;
}


/* ==================
    Hero
===================== */
.hero {
  background-image: url("../images/bg-hero-mobile.svg");
  background-color: $very-pale-cyan;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 20px;
  line-height: 1.6;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0;
  }

  h1 {
    font-size: 2.4rem;
    width: 80%;
    margin: 120px auto 30px auto;
  }
  
  .logo {
    width: 190px;
    height: calc(39px * 190 / 240);
  }
  
  .mockups {
    width: 90%;
  }

}

